.app_khaki_theme {
  --bg-color: #e7feee;
  --inverted-bg-color: #37453c;
  --primary-color: #121615;
  --secondary-color: #e7feee;
  --inverted-primary-color: #e7feee;
  --inverted-secondary-color: #b3dabe;
}
